.header_logo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

.header_logo_title {
  color: var(--green);
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 2rem;
  cursor: default;
  transition: all ease-in-out 0.2s;
}
