:root {
  --green: #52c41a;
  --white: #ffffff;
  --black: #111111;
  --dark-gray: #333333;
  --border-color: #d9d9d9;
}

.greenBg {
  color: var(--white);
  background-color: var(--green);
}

.greenBg:hover {
  outline: var(--green);
  color: var(--green);
  border-color: var(--green);
  background-color: var(--white);
}

.ant-menu-item-selected {
  background-color: var(--dark-gray) !important;
  color: var(--green) !important;
}

.ant-menu-item-active {
  background-color: var(--dark-gray) !important;
  color: var(--white) !important;
}

.ant-layout-sider-trigger {
  /* color: var(--green) !important; */
  background-color: var(--dark-gray) !important;
}

.ant-btn-primary {
  background-color: var(--green) !important;
  color: var(--white) !important;
  border-color: var(--border-color) !important;
}

.ant-btn-primary:hover {
  background-color: var(--white) !important;
  border-color: var(--green) !important;

  color: var(--green) !important;
}

.ant-input:hover:not(.ant-input-status-error) {
  border-color: var(--green) !important;
}

.ant-btn:hover:not(.ant-btn-dangerous, .ant-btn-primary) {
  border-color: var(--green) !important;
  color: var(--green) !important;
}
